.user-header {
  position: static;
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  justify-content: space-between;
}

.header-title {
  cursor: pointer;
}

.login-text {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.login-text:hover {
  color: #007bff;
}