.player-quiz-ui {
  background-color: rgb(103, 192, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.player-quiz-question-wrap {
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: flex;
  flex-direction: left;
  font-size: 1.5rem;
  text-align: center;
  flex: 2;
  margin-bottom: 1rem;
}

.player-quiz-index {
  flex: 1;
}

.player-quiz-question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 13;
}

.player-quiz-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1rem;
  flex: 8;
  margin-bottom: 1rem;
}

.player-quiz-option-wrap:hover .player-quiz-option,
.player-quiz-option-wrap:hover .player-quiz-option-index {
  color:tomato;
}

.player-quiz-option-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.5rem;
  cursor: pointer;
}

.player-quiz-option {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}

.player-quiz-option:hover {
  color: #e0e0e0;
}

.player-quiz-explanation-wrap{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  flex: 2;
  padding: 1rem;
  margin-bottom: 1rem;
}

.player-quiz-option.correct {
  color: blue;
}

.player-quiz-option.incorrect {
  color: red;
}

.player-quiz-option:disabled {
  cursor: not-allowed;
}

.player-quiz-button-wrap {
  flex: 1.5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.next-quiz-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-quiz-button:hover {
  background-color: #1976d2;
}