.custom-navbar {
  background-color: rgb(42, 126, 199);
  padding: 10px 0;
}

.custom-navbar .navbar-nav .nav-link {
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}