.add-course-meta-contents {
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course-meta-input-group {
  margin-bottom: 20px;
  width: 100%;
}

.course-meta-input-group label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.course-meta-input-group input,
.course-meta-input-group textarea,
.course-meta-input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.course-meta-input-group input[type="file"] {
  padding: 5px;
  background-color: transparent;
}

.course-meta-input-group textarea {
  resize: vertical;
  height: 120px;
}

.course-meta-input-group img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.course-meta-input-group-file-and-type,
.course-meta-input-group-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: flex-start;
}

.course-meta-input-group-flex .course-meta-input-group {
  flex: 1;
  min-width: 250px;
}

.course-meta-input-group select {
  cursor: pointer;
}

.course-meta-input-group select:focus,
.course-meta-input-group input[type="text"]:focus,
.course-meta-input-group input[type="file"]:focus,
.course-meta-input-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.course-meta-error-message {
  width: 100%;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  height: 12px;
}

.card-type-selection {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-type-selection button {
  padding: 8px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.card-type-selection button.selected {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.card-type-selection button:hover {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
  transform: scale(1.05);
}

.selected-card-types p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.selected-card-types {
  margin-top: 15px;
  height: 40px;
}

.card-type-selection button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .course-meta-input-group-file-and-type,
  .course-meta-input-group-flex {
    flex-direction: column;
  }

  .course-meta-input-group-flex .course-meta-input-group {
    flex: none;
    margin-bottom: 15px;
  }
}
