.add-course-meta-contents {
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-course-meta-contents h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.course-meta-input-group {
  margin-bottom: 20px;
}

.course-meta-input-group label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.course-meta-input-group input,
.course-meta-input-group textarea,
.course-meta-input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.course-meta-input-group input[type="file"] {
  padding: 5px;
}

.course-meta-input-group textarea {
  resize: vertical;
  height: 120px;
}

.course-meta-input-group select {
  cursor: pointer;
}

.course-meta-input-group img {
  margin-top: 10px;
  max-width: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.course-meta-input-group-file-and-type {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.course-meta-input-group-file-and-type .course-meta-input-group {
  flex: 1;
}

.course-meta-input-group-file-and-type .course-meta-input-group img {
  max-width: 100%;
}
