.upload-progress {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.upload-complete {
  text-align: center;
  padding: 20px;
}

.upload-complete h6 {
  color: #4caf50;
  font-size: 18px;
  margin-bottom: 10px;
}

.thumbnail-upload-complete-button {
  display: inline-block;
  cursor: pointer;
  background-color: #4caf50;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.thumbnail-upload-complete-button:hover {
  background-color: #45a049;
}

.thumbnail-upload-complete-icon {
  font-size: 24px;
  color: white;
}

.thumbnail-preview {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.react-circular-progressbar {
  display: block;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .thumbnail-upload-form {
    padding: 10px;
  }

  .upload-progress {
    width: 80px;
    height: 80px;
  }
}
